<p-table [value]="products" [paginator]="true" [rows]="8" responsiveLayout="scroll" [rowHover]="true" *ngIf="!orderDetails.orNumber.length">
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="name">Name</th>
            <th pSortableColumn="quantity">Quantity</th>
            <th pSortableColumn="setTotal">Total</th>
            <th></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td class="flex align-items-center justify-content-start">
                <img [src]="product.images | productImage" [alt]="" width="38" height="38"
                     style="border-radius: 100%"
                     class="shadow-4 mr-3"/> {{ product.name }}
            </td>
            <td>
                <p-inputNumber mode="decimal" [showButtons]="true" inputId="minmax-buttons" [min]="1" [max]="100" class="mr-1" [(ngModel)]="product.setQuantity"
                               (onInput)="PosItems.onInput($event, product.id)"/>
            </td>
            <td>{{ product.setTotal | currency:'PHP' }}</td>
            <td>
                <button pButton pRipple type="button" icon="pi pi-trash"
                        (click)="PosItems.onConfirmDelete($event, product)"
                        class="p-button p-component p-button-text p-button-icon-only"></button>
                <p-confirmPopup key="{{product.id}}"/>
            </td>
        </tr>
    </ng-template>
</p-table>

<div *ngIf="orderDetails.orNumber.length">
    <div class="mb-5 mt-2">Hooray! Order has been placed successfully!</div>
    <div class="field grid">
        <label class="col-12 mb-2 md:col-4 md:mb-0 font-bold">OR Number:</label>
        <div class="col-12 md:col-7">{{orderDetails.orNumber}}</div>
    </div>
    <div class="field grid">
        <label class="col-12 mb-2 md:col-4 md:mb-0 font-bold">Reference Code:</label>
        <div class="col-12 md:col-7">{{orderDetails.referenceCode}}</div>
    </div>
    <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="right">
            <div>
                <button pButton pRipple label="View Order" icon="pi pi-save" class="p-button-info mr-2" (click)="PosItems.onViewOrder()"></button>
            </div>
        </ng-template>
    </p-toolbar>
</div>
