<div class="col-12 md:col-12">
    <div class=" p-fluid">
        <div class="field">
            <label for="name"><strong>Name</strong></label>
            <input type="text" pInputText id="name" [(ngModel)]="product.name"
                   required autofocus
                   placeholder="Enter a product name"
                   [ngClass]="{'ng-invalid ng-dirty' : isSubmitted && !product.name}"/>
            <small class="ng-dirty ng-invalid" *ngIf="isSubmitted && !product.name">Name is required.</small>
        </div>
        <div class="field">
            <label for="description"><strong>Description</strong></label>
            <textarea id="description" pInputTextarea [(ngModel)]="product.description" rows="8"
                      spellcheck="false"
                      required
                      style="color: gray"
                      placeholder="Enter product description"
                      [ngClass]="{'ng-invalid ng-dirty' : isSubmitted && !product.description}"
                      cols="20"></textarea>
            <small class="ng-dirty ng-invalid" *ngIf="isSubmitted && !product.description">Description is
                required.</small>
        </div>
        <div class="formgrid grid">
            <div class="field col">
                <label for="price"><strong>Price</strong></label>
                <p-inputNumber id="price" [(ngModel)]="product.price" mode="currency" currency="USD"
                               required
                               [ngClass]="{'ng-invalid ng-dirty' : isSubmitted && !product.price}"
                               locale="en-US"></p-inputNumber>
                <small class="ng-dirty ng-invalid" *ngIf="isSubmitted && !product.price">Price is required.</small>
            </div>
            <div class="field col">
                <label for="quantity"><strong>Quantity</strong></label>
                <p-inputNumber id="quantity" [(ngModel)]="product.quantity"
                               required
                               [ngClass]="{'ng-invalid ng-dirty' : isSubmitted && !product.quantity}"></p-inputNumber>
                <small class="ng-dirty ng-invalid" *ngIf="isSubmitted && !product.quantity">Quantity is
                    required.</small>
            </div>
        </div>
    </div>
    <p-toolbar styleClass="mb-4 mt-8">
        <ng-template pTemplate="right">
            <button pButton pRipple label="Save" icon="pi pi-save" class="p-button-success mr-2" (click)="ProductsEditForm.Submit.onClick()"></button>
        </ng-template>
    </p-toolbar>

</div>
