<p-splitter [panelSizes]="[60,40]" [minSizes]="[40,40]">
    <ng-template pTemplate>
        <div class="col">
            <orders-transactions-table-widget/>
        </div>
    </ng-template>
    <ng-template pTemplate>
        <div class="col">
            <p-tabView>
                <p-tabPanel header="Items">
                    <orders-items-table-widget/>
                </p-tabPanel>
                <p-tabPanel header="Invoice">
                    <orders-invoice-widget />
                </p-tabPanel>
                <p-tabPanel header="Customer">
                    <orders-customer-widget />
                </p-tabPanel>
                <p-tabPanel header="Update Order" class="p-fluid">
                    <orders-update-widget />
                </p-tabPanel>
            </p-tabView>
        </div>
    </ng-template>
</p-splitter>
<spinner-widget/>
